                </li>
                {% extends 'opencmis/student-base.html' %}
                {% block title %}{{ student}}{% endblock %}
                {% block baseline-active %}active{% endblock %}
                {% block student-body %}
                <nav class="navbar navbar hidden-print">
                    <div class="container-fluid">
                        <!-- Items -->
                        <div class="collapse navbar-collapse" id="topNavBar">
                            <!-- Left Items -->
                            <ul class="nav navbar-nav">
                                <li class="active">
                                    <a href="#">Information</a>
                                </li>
                                <li class="">
                                    <a href="#">Presentation</a>
                                </li>
                                <li class="">
                                    <a href="#">Behaviour</a>
                                </li>
                                <li class="">
                                    <a href="#">Relationships</a>
                                </li>
                                <li class="">
                                    <a href="#">Taking Care</a>
                                </li>
                                <li class="">
                                    <a href="#">Time</a>
                                </li>
                                <li class="">
                                    <a href="#">Cooking</a>
                                </li>
                                <li class="">
                                    <a href="#">Cleaning</a>
                                </li>
                                <li class="">
                                    <a href="#">Laundry</a>
                                </li>
                                <li class="">
                                    <a href="#">Travel</a>
                                </li>
                                <li class="">
                                    <a href="#">Shopping</a>
                                </li>
                                <li class="">
                                    <a href="#">Other</a>
                                </li>
                                <li class="">
                                    <a href="#">Prior Learning</a>
                                </li>
                                <li class="">
                                    <a href="#">Being Comfortable</a>
                                </li>
                                <li class="">
                                    <a href="#">Classroom</a>
                                </li>
                                <li class="">
                                    <a href="#">Safe Practices</a>
                                </li>
                                <li class="">
                                    <a href="#">Skills</a>
                                </li>
                                <li class="">
                                    <a href="#">Maths Skills</a>
                                </li>
                                <li class="">
                                    <a href="#">English Skills</a>
                                </li>
                                <li class="">
                                    <a href="#">Other</a>
                                </li>
                                <li class="">
                                    <a href="#">Course Recommendations</a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </nav>
    {% for e in baseline_list %}
        <div class="panel panel-default">
            <div class="panel-heading">{{e.entry}}</div>
            <div class="panel-body">
                <div class="panel panel-default">
                    <div class="panel-heading">Week&nbsp;1&nbsp;<a href="{% url 'opencmis:student-update' student.id %}"><span
                    class="glyphicon glyphicon-pencil"></span></a></div>
                    <div class="panel-body">
                        {{i.text|safe}}
                    </div>
                    <div class="panel-footer">{{i.user}} : {{i.date}}</div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">Week&nbsp;2&nbsp;<a
                            href="{% url 'opencmis:student-update' student.id %}"><span
                            class="glyphicon glyphicon-pencil"></span></a></div>
                    <div class="panel-body">
                        {{i.text|safe}}
                    </div>
                    <div class="panel-footer">{{i.user}} : {{i.date}}</div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">Week&nbsp;3&nbsp;<a
                            href="{% url 'opencmis:student-update' student.id %}"><span
                            class="glyphicon glyphicon-pencil"></span></a></div>
                    <div class="panel-body">
                        {{i.text|safe}}
                    </div>
                    <div class="panel-footer">{{i.user}} : {{i.date}}</div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">Week&nbsp;4&nbsp;<a
                            href="{% url 'opencmis:student-update' student.id %}"><span
                            class="glyphicon glyphicon-pencil"></span></a></div>
                    <div class="panel-body">
                        {{i.text|safe}}
                    </div>
                    <div class="panel-footer">{{i.user}} : {{i.date}}</div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">Week&nbsp;5&nbsp;<a
                            href="{% url 'opencmis:student-update' student.id %}"><span
                            class="glyphicon glyphicon-pencil"></span></a></div>
                    <div class="panel-body">
                        {{i.text|safe}}
                    </div>
                    <div class="panel-footer">{{i.user}} : {{i.date}}</div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">Week&nbsp;6&nbsp;<a
                            href="{% url 'opencmis:student-update' student.id %}"><span
                            class="glyphicon glyphicon-pencil"></span></a></div>
                    <div class="panel-body">
                        {{i.text|safe}}
                    </div>
                    <div class="panel-footer">{{i.user}} : {{i.date}}</div>
                </div>

            </div>
        </div>
    {% empty %}
        <div class="alert alert-warning" role="alert">
            <strong>There are no baselines to display.</strong>
        </div>
    {% endfor %}
{% endblock %}