<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}OpenCMIS{% endblock %}</title>
    {% load staticfiles %}
    <!-- Link to online resource full of Bootstrap files -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Link to Google online fonts -->
    <link href='https://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>
    <!-- Link to Google Ajax scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <!-- Link to bootstrap javascript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Basic CSS from tutorial -->
    <link rel="stylesheet" type="text/css" href="{% static 'opencmis/style.css' %}"/>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <!-- Header -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'opencmis:index' %}">OpenCMIS</a>
            </div>

            <!-- Items -->
            <div class="collapse navbar-collapse" id="topNavBar">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="{% url 'opencmis:index' %}">
                            <span class="glyphicon glyphicon-education" area-hidden="true"></span>&nbsp;&nbsp;Students
                        </a>
                    </li>
                    <li class="">
                        <a href="#">
                            <span class="glyphicon glyphicon-flag" area-hidden="true"></span>&nbsp;&nbsp;Behaviour
                        </a>
                    </li>
                    <li class="">
                        <a href="#">
                            <span class="glyphicon glyphicon-user" area-hidden="true"></span>&nbsp;&nbsp;Staff
                        </a>
                    </li>
                    <li class="">
                        <a href="#">
                            <span class="glyphicon glyphicon-bookmark" area-hidden="true"></span>&nbsp;&nbsp;Room
                        </a>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="">
                        <a href="#">
                            <span class="glyphicon glyphicon-flag" area-hidden="true"></span>&nbsp;&nbsp;Events
                        </a>
                    </li>
                    <li class="">
                        <a href="#">
                            <span class="glyphicon glyphicon-stats" area-hidden="true"></span>&nbsp;&nbsp;Reports
                        </a>
                    </li>
                    <li class="">
                        <a href="#">
                            <span class="glyphicon glyphicon-log-out" area-hidden="true"></span>&nbsp;&nbsp;Logout
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <ul class="nav nav-tabs">
        <li class="{% block home-active %}{% endblock %}"><a href="{% url 'opencmis:detail' student.id %}">Home</a></li>
        <li class="{% block baseline-active %}{% endblock %}"><a href="#">Baseline Assessment</a></li>
        <li class="{% block target-active %}{% endblock %}"><a href="#">Targets</a></li>
        <li class="{% block qualification-active %}{% endblock %}"><a href="{% url 'opencmis:student-qualification' student.id %}">Qualifications</a></li>
        <li class="{% block review-active %}{% endblock %}"><a href="#">Reviews</a></li>
        <li class="{% block audiology-active %}{% endblock %}"><a href="#">Audiology</a></li>
        <li class="{% block medical-active %}{% endblock %}"><a href="#">Medical</a></li>
        <li class="{% block behaviour-active %}{% endblock %}"><a href="{% url 'opencmis:behaviour-index' student.id %}">Behaviour</a></li>
    </ul>

    <div class="container-fluid">
        <span class="span2">
            {% block index %}
            {% endblock %}
        </span>
        <span class="span10">
            {% block body %}
            {% endblock %}
        </span>
    </div>
</body>
</html>