{% extends 'opencmis/base.html' %}
{% block title %}Student Index{% endblock %}
{% block body %}
    <div class="container-fluid">
            {% if all_students %}
                {% for student in all_students %}
                    <a href="{% url 'opencmis:detail' student.id %}">{{student}}</a><br>
                {% endfor %}
            {% else %}
            <div class="alert alert-warning" role="alert">
                <strong>There are no student records to display.</strong>
            </div>
            {% endif %}
            <div class="row">
                    <a href="{% url 'opencmis:student-create' %}"><span class="glyphicon glyphicon-plus-sign" area-hidden="true"></span>&nbsp;&nbsp;Add Student</a>
            </div>
        </div>
    </div>
{% endblock %}