{% extends 'opencmis/student-base.html' %}
{% block title %}Student Index{% endblock %}
{% block home-active %}active{% endblock %}

{% block body %}
<div class="panel panel-primary">
<div class="panel-heading">Welcome to OpenCMIS.</div>
<div class="panel-body">The Open Source College Management Information System.<br>
Written by Patrick Biggs.<br>
    <pre><kbd>Type this in, i.e. keyboard entry</kbd></pre>
    <pre><code>code goes here</code></pre>
    <samp>This is your output</samp>
    <var>x</var> = <var>y/2</var>
</div>

</div>
{% endblock %}
